.App {
  text-align: center;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    200deg,
    rgb(70, 70, 125) 0%,
    rgb(23, 23, 87) 15%,
    rgba(14, 14, 67) 30%,
    rgba(14, 14, 67) 70%,
    rgb(5, 5, 40) 100%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
  user-select: none;
}
.model {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000E2A;
  z-index: -1;
}
.modalContent {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  height: 90%;
  width: 70%;
  user-select: none;
}
.modalContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.UI {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: 600;
  font-size: calc(15px + 1.5vw);
  font-family: "Quicksand", sans-serif;
  user-select: none;
}
.UIcontainer {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fade {
  transition: opacity ease 1s;
}
.fadeout {
  opacity: 0;
  transition: opacity 1s ease;
}

.text {
  font-size: calc(15px + 1.5vw);
  font-family: "Quicksand", sans-serif;
  color: white;
  margin: 0;
}
.textWelcome {
  font-size: calc(15px + 1.5vw);
  font-family: "Quicksand", sans-serif;
  color: white;
  margin-left: 5%;
}
.textTitleStack {
  font-size: calc(20px + 2vw);
  color: #f2a5ff;
  font-weight: bold;
  margin-top: -2%;
  margin-left: 5%;
  align-self: flex-start;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  border-radius: 5px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  user-select: none;
}
#buttonWelcome {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 5%;
}

#buttonWelcome p {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease-Out;
}

#buttonWelcome:hover #spin {
  width: 200%;
  height: 400%;
  opacity: 1;
  left: -80px;
  top: -80px;
  background: white;
  transform: rotate(80deg);
}

#buttonWelcome:hover p {
  color: rgb(14, 14, 67);
  z-index: 2;
}
